{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-account.kb2a.vn/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "description": "Return current user information",
        "parameters": [],
        "responses": {
          "200": {
            "description": "User information"
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tx": {
      "post": {
        "description": "Create a new transaction for user",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tx_id": {
                    "type": "string",
                    "description": "Transaction ID, unique for each transaction. KB2A will callback with this ID"
                  },
                  "merchant_key": {
                    "type": "string",
                    "description": "Merchant key, provided by KB2A"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount of transaction (vnd)"
                  },
                  "return_url": {
                    "type": "string",
                    "description": "URL to redirect after transaction is completed, KB2A will reponse with `result` and `checksum` of the transaction"
                  },
                  "kb2a_id": {
                    "type": "string",
                    "description": "KB2A ID of the user"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Signature of the transaction, generated by merchant"
                  },
                  "allow_coupon": {
                    "type": "boolean",
                    "description": "Allow user to use coupon",
                    "default": true
                  },
                  "allow_discount": {
                    "type": "boolean",
                    "description": "Allow user to use discount based on level of user",
                    "default": true
                  },
                  "allow_referral": {
                    "type": "boolean",
                    "description": "Allow user to use referral code",
                    "default": true
                  },
                  "allow_kb2a_balance": {
                    "type": "boolean",
                    "description": "Allow user to use KB2A balance to pay",
                    "default": true
                  },
                  "products": {
                    "type": "array",
                    "description": "List of products in the transaction, this will be shown to user at the payment page",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the product"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the product"
                        },
                        "amount": {
                          "type": "integer",
                          "description": "Amount of the product (vnd)"
                        },
                        "image": {
                          "type": "string",
                          "description": "Image of the product"
                        }
                      },
                      "required": ["name", "description", "amount"]
                    }
                  }
                },
                "required": [
                  "tx_id",
                  "merchant_key",
                  "amount",
                  "return_url",
                  "kb2a_id",
                  "signature",
                  "products"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "description": "Payment URL of the transaction",
                      "example": "https://myaccount.kb2a.vn/payment/bf6b2e498c23c4db83313f566f7029c1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": ["id"],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-KB2A-Authenticate"
      }
    }
  }
}
